.boards {
	display: flex;
	justify-content: center; 
}

.boards li {
	margin: 10px; 
	font-weight: bold; 
	cursor: pointer;
	list-style-type: none; 
	font-family: "Open Sans", sans-serif;
}

.boards ul {
	padding: 0;
}