.menu {
  padding: 20px;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #6c6eb2 0%,#181870 64%,#000028 100%);
  border-radius: 8px;
  border: 1px solid #424542;
  
  box-shadow: 4px 4px #e7dfe7,
              -4px -4px #e7dfe7,
              4px -4px #e7dfe7,
              -4px 4px #e7dfe7,
              0 -2px #9c9a9c,
              -2px 0 #7b757b,
              0 2px #424542;
  overflow: auto;
}

.game-wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 10px;
}


.menu_item_wrapper {
  margin-bottom: 10px;
}

.menu_hand {
  position: absolute;
  top:  0;
  left: 0;
}

.menu_hand > img {
  width: 50px;
}

.main-game {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  align-items: stretch;
}

.main-game-panel {
  display: flex;
  flex: 1;  
}

.timer-bar { 
  //width: 60px;
    height: 8px;  /* Can be anything */
    position: relative;
    background: transparent;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
  border: 2px solid white;
    padding: 1px;
    box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
}

.timer-bar > span {
  display: block;
  height: 100% !important;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: white;
  
  position: relative;
  overflow: hidden;
}