.Arena .lander {
  padding: 80px 0;
  text-align: center;
}

.Arena .lander h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.Arena .lander p {
  color: #999;
}

.Arena .GameArea {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: white;
  color: white;
  font-family: 'Press Start 2P', sans-serif;
  font-size: 22px;
}