.Dashboard .lander {
  padding: 10px 0;
  text-align: center;
}

.Dashboard .lander h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.Dashboard .lander p {
  color: #999;
}

.card-crafting img {
  display: block;
  margin-right: auto; 
  margin-left: auto; 
  height: 200px; 
  width: 200px;
}

.card-crafting {
  box-shadow: 4px 8px 16px 4px rgba(0,0,0,0.2); 
  transition: 0.5s;
  padding: 5px 5px 5px 5px;
}

.card-crafting:hover{
  box-shadow: var(--shadow-background-on-hover);    
}

.card-game img {
  display: block;
  margin-right: auto; 
  margin-left: auto; 
  height: 200px; 
  width: 200px;
}

.card-game {
  box-shadow: 4px 8px 16px 4px rgba(0,0,0,0.2); 
  transition: 0.5s;
  padding: 5px 5px 5px 5px;
}

.card-game:hover{
  box-shadow: var(--shadow-background-on-hover);    
}

.card-leaderboard img {
  display: block;
  margin-right: auto; 
  margin-left: auto; 
  height: 200px; 
  width: 200px;
}

.card-leaderboard {
  box-shadow: 4px 8px 16px 4px rgba(0,0,0,0.2); 
  transition: 0.5s;
  padding: 5px 5px 5px 5px;
}

.card-leaderboard:hover{
  box-shadow: var(--shadow-background-on-hover);    
}

.progbarcomponent {
  display: block;
  margin-right: auto; 
  margin-left: auto; 
  height: 200px; 
  width: 200px;
}

.card-progressbar {
  box-shadow: 4px 8px 16px 4px rgba(0,0,0,0.2); 
  transition: 0.5s;
  padding: 5px 5px 5px 5px;
}

.card-progressbar:hover{
  box-shadow: var(--shadow-background-on-hover);    
}

.card-inventory img {
  display: block;
  margin-right: auto; 
  margin-left: auto; 
  height: 200px; 
  width: 200px;
}

.card-inventory {
  box-shadow: 4px 8px 16px 4px rgba(0,0,0,0.2); 
  transition: 0.5s;
  padding: 5px 5px 5px 5px;
}

.card-inventory:hover{
  box-shadow: var(--shadow-background-on-hover);    
}


.card-shop img {
  display: block;
  margin-right: auto; 
  margin-left: auto; 
  height: 200px; 
  width: 200px;
}

.card-shop {
  box-shadow: 4px 8px 16px 4px rgba(0,0,0,0.2); 
  transition: 0.5s;
  padding: 5px 5px 5px 5px;
}

.card-shop:hover{
  box-shadow: var(--shadow-background-on-hover);    
}

.card-achievements img {
  display: block;
  margin-right: auto; 
  margin-left: auto; 
  height: 200px; 
  width: 200px;
}

.card-achievements {
  box-shadow: 4px 8px 16px 4px rgba(0,0,0,0.2); 
  transition: 0.5s;
  padding: 5px 5px 5px 5px;
}

.card-achievements:hover{
  box-shadow: var(--shadow-background-on-hover);    
}
