.Home .lander {
  padding: 10px 0;
  text-align: center;
}

.Home .lander h2 {
  font-family: "jedi";
  src: local("jedi"), url(../fonts/Starjedi.ttf) format('ttf');
  font-weight: 600;
}

.Home .lander p {
  color: #999;
}

.Home .lander-yoda img {
	width: 25%;
	height: 25%;
	display: block;
	margin-right: auto; 
	margin-left: auto; 
	padding: 0 0 10px; 
}

.Home .lander h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}